.pricing-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border: 2px solid #000;
    margin: 10px;
    gap: 20px;
    max-width: 900px;
    height: auto;
    padding: 0 20px;
}
.pricing-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    flex: 0 0 200px;
    justify-content: space-between;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    transition: all 0.3s ease;
    margin: 15px;
}
.pricing-card:hover {
    transform: scale(1.05);
}
.basic-plan {
    order: 0;
}
.pro-plan {
    order: 1;
    flex-grow: 2;
    background: #f0f8ff;
}
.premium-plan {
    order: 2;
}
.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3e3e3e;
    margin: 10px;
    border-bottom: 1px solid #433d28;
}
.features {
    list-style-type: none;
    padding: 0;
    text-align: left;
}
.features li {
    padding: 5px 0;
    font-size: 0.95rem;
} 
.check {
    color: #219c54;
    font-weight: bold;
    margin-right: 8px;
}
.cross {
    color: crimson;
    font-weight: bold;
    margin-right: 8px;
}
a {
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    background-color: #f1be32;
    color: #000;
    font-weight: bold;
    border: 3px solid #eebe3a;
    padding: 5px;
    transition: 0.3s;
}
h2, p {
    margin: 0;
}