#house {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: #c68642;
    border: 2px solid #000;
    z-index: 1;
}
#chimney {
  position: absolute;
  top:-100px;
  left: 65%;
  width: 90px;
  height: 100px;
  background-color: #555;
  border: 2px solid #000;
  z-index: -1;
}
#roof {
  position: absolute;
  top: 0;
  width: 200px;
  height: 80px;
  background-color: #8b0000;
  border: 2px solid #000;
}
#window-1 {
position: absolute;
  top: 60px;
  left: 30px;
  width: 40px;
  height: 40px;
  background-color: #add8e6;
  border: 2px solid #000;
}
#window-2 {
  position: absolute;
  top: 60px;
  left: 30px;
  width: 40px;
  height: 40px;
  background-color: #add8e6;
  border: 2px solid #000;
}
#door {
  position: absolute;
  bottom: 0;
  left: 75px;
  width: 50px;
  height: 70px;
  background-color: #654321;
  border: 2px solid #000;
}
