.newspaper-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas:
    "title title title"
    "feature-article feature-article cover-image"
    "secondary-article secondary-article cover-image"
    "small-article1 small-article2 small-article3";
  gap: 1rem;
}

body {
  background-color: aliceblue;
}
.title {
  grid-area: title;
  background-color: #1B1B32;
  color: white;
  padding: 15px;
  text-align: center;
}

.feature-article {
  grid-area: feature-article;
}

.secondary-article {
  grid-area: secondary-article;
}

.cover-image {
  grid-area: cover-image;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  padding: 15px;
  margin: 0;

}

.small-article1 {
  grid-area: small-article1;
}

.small-article2 {
  grid-area: small-article2;
}

.small-article3 {
  grid-area: small-article3;
}

.cover-image img {
  max-width: 100%;
  height: auto;
}
