body {
    background-color: Thistle;
    min-height: 100vh;
    display: block;
    margin: 8px;
}
#playing-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card{
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    min-width: 250px;
    max-width: 250px;
    height: 350px;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.card-red {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
    min-width: 250px;
    max-width: 250px;
    height: 350px;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: red;
}
.left {
    align-self: flex-start;
}
.middle {
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 80px;
}
.right {
    align-self: flex-end;
}
.middle-section {
    display: flex;
    justify-content: center;
}
.flipped {
    transform: rotate(180deg);
}
div {
    display: block;
}