.form-container {
    background-color:burlywood;
    border-radius: 8px;
    padding: 0.5rem;
    width: 100%;
}
label {
    margin: 0.5rem 0;
    color: #333;
}
input {
    width: 100px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
textarea {
  width: 100%;       
  padding: 0.5rem;  
  margin-bottom: 0.5rem;
}
button {
    background-color: darkkhaki;
    font-size: 0.75rem;
}
button:hover {
   background-color: #45a049;
}