tr[class="read"] {
  background-image: linear-gradient(hsl(120, 100%, 85%, 0.6));
}
tr[class="to-read"] {
  background-image: linear-gradient(hsl(120, 20%, 95%, 0.6));
}
tr[class="in-progress"] {
  background-image: linear-gradient(hsl(40, 100%, 85%, 0.6));
}
tr[class="read"] span[class="status"] {
  border: 0.1em solid hsl(120, 75%, 45%);
  background-image: linear-gradient(hsl(120, 75%, 75%));
}
tr[class="to-read"] span[class="status"] {
  border: 0.1em solid hsl(5, 100%, 45%);
  background-image: linear-gradient(hsl(5, 100%, 75%));
}
tr[class="in-progress"] span[class="status"] {
  border: 0.1em solid hsl(40, 90%, 40%);
  background-image: linear-gradient(hsl(40, 90%, 75%));
}
span[class="status"],
span[class^="rate"] {
  height: 1.85em;
  width: 7em;
  padding: 0.3em;
}
span {
  display: inline-block;
}
span[class^="rate"] > span {
  border: 1px solid #333;
  border-radius: 50%;
  margin: 2px;
  height: 10px;
  width: 10px;
  background-color: #ddd;
}
span[class~="one"] :first-child {
  background-image: linear-gradient(to right, red, yellow);
}
span[class~="two"] :nth-child(1), 
span[class~="two"] :nth-child(2) {
  background-image: linear-gradient(to right, blue, green);
}
span[class~="three"] span {
  background-image: linear-gradient(to right, purple, pink);
}