body {
  padding: 20px;
  background-color: #f7f7f7;
  color: #222;
  border-style: solid; 
  border-color: #000; 
  border-width: 5px;
  margin-right: 60%;
}
#email {
    padding: 50px;
    margin-top: 50px;
    width: 500px;
    border: 2px;
    box-sizing: border-box;
}
#confidential, #top-secret {
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    border: 4px solid red;
    transform: rotate(10deg);
    color:red;
}
.blurred {
  filter: blur(3px);
}
strong {
    font-size: xx-large;
}