body{
    color: #4d4e53;
    font-family: 'Open Sans', Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
}
#navbar {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
    border: none;
    border-right: 1px solid #ccc;
    z-index: 1;
}
#navbar header {
    text-align: center;
    font-weight: bold;
    padding: 1em;
    border-bottom: 1px solid #ccc;
}
#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}
#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}
#main-doc {
    position: relative;
    margin-left: 260px;
    padding: 2em;
}
#main-doc header {
    text-align: left;
    margin: 0px 0 20px 0;
}
ul {
    display:block;
    padding-inline-start: 40px;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
html {
    scroll-behavior: smooth;
}
@media (max-width: 768px) {
  #navbar {
    position: relative;
    width: 100%;
    height: auto;
    }
}