html {
    font-size: 24px;
}
.newspaper {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.name {
    text-align: center;
    font-size: 2rem;
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.date {
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
}
.headline {
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 10px;
}
.sub-headline {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 100;
    line-height: 1.4;
    margin-bottom: 15px;
}
.author {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.text {
    text-indent: 20px;
    font-size: 1em;
    line-height: 2em;
    margin-bottom: 15px; 
}
.text::first-letter {
  font-weight: bold;  
  font-size: 2em;
}